// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

table.about {
  background: url("https://image.ibb.co/gbPRk7/3blacked.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.about__desc {
  color: #fff;
}

.about__logo {
  height: 135px;
}

// .price__desc {
//   background: #fffbe8 !important;
//     p {
//       text-transform: uppercase;
//     }
  
// }

table.hire {
  background: url("https://image.ibb.co/dCYJYS/IMG_4464_min.jpg") no-repeat;
  background-size: cover;
  background-position: center;  
}

.hire__title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.space__desc {
  background: #fff;
}

table.space {
    background: url(https://image.ibb.co/kT9thn/FREE6115_min.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.space__teaser {

}

.space__title {
  font-weight: bold;
  color: #404040;
  text-transform: uppercase;
}

.space__view {
  // background: #7c7c7c;
  background: rgba(0,0,0,.5);
}

.space__metr {
  color: #fff;
  font-weight: bold;
}

.space__type {
  color: #fff;
}

table.button.alert table a {
  font-weight: normal;
  text-align: center;
}

.price__sales {
  background: #e5b3cc !important;
    p {
      color: #fff;
      text-transform: uppercase;
    }
}


 tbody > tr > th.hire__price > table > tbody > tr > th {
  background: #fff;
}

.olive {
  background: #392c2f !important;
}

.hire__type {
  color: #fff;
}

.hire__type-title {
  font-weight: bold;
  color: #fff;
}

table.org ul {
  padding: 16px;
}

.org__img {
  max-width: 269px;
  height: auto !important;
}

.org__subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #404040;

}

.org__title {
  text-transform: uppercase;
}

table.services {
  background: url("https://image.ibb.co/jaP0xn/servicesbg_min.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.contacts__view-btn a {
  color: #000 !important;
  text-transform: uppercase;
}

table.contacts__map {
  background: url(https://image.ibb.co/c2o5xn/contacts_map.png)no-repeat;
  background-size: cover;
  background-position: center;
}

.services__desc {
  text-transform: uppercase;
}

hr {
 border: none;
 color: #fcddb6;
 background-color: #fcddb6;
 height: 2px;
}

li {
    color: #deb0b9; /* Цвет маркеров */
}

li span {
  color: #000;
}

.up_text {
  text-transform: uppercase;
}

.services__company {
  height: 38px;
  width: auto;
}

.services__img {
  height: 100px;
  width: 100px;
}

table.gallery {
  background: url(https://image.ibb.co/m1mYYS/gallerybg.png) no-repeat;
    background-size: contain;
  background-position: center;
  min-height: 300px;
}

.main__logo {
  height: 150px;
  width: auto;
}

.map__desc {
  color: #fff;
}

@media screen and (max-width: 596px) {
  table.gallery {
    min-height: 200px;
  }
  .map__desc {
    text-align: center !important;
  }
}

.price__desc {
  font-size: 12px;
}

.logo__desc {
  font-size: 19px;
  text-transform: uppercase;
}