// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

table.about {
  background: url("https://image.ibb.co/gbPRk7/3blacked.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.about__desc {
  color: #fff;
}

.about__logo {
  height: 135px;
}

.price__desc {
  background: #fffbe8;
  text-transform: uppercase;
}

table.hire {
  background: url("https://image.ibb.co/dCYJYS/IMG_4464_min.jpg") no-repeat;
  background-size: cover;
  background-position: center;  
}

.hire__title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  // border-bottom: 2px solid #fcddb6;
}

// table.space {
//   background:url("");
// }
.space__desc {
  background: #fff;
}

.space__teaser {
    background: url(https://image.ibb.co/kT9thn/FREE6115_min.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.space__title {
  font-weight: bold;
  color: #404040;
}

.space__view {
  background: #7c7c7c;
}

.space__metr {
  color: #fff;
  font-weight: bold;
}

.space__type {
  color: #fff;
}

table.button.alert table a {
  font-weight: normal;
  text-align: center;
}

.price__sales {
  background: #e5b3cc;
  color: #fff;
  text-transform: uppercase;
}

 tbody > tr > th.hire__price > table > tbody > tr > th {
  background: #fff;
}

 table.container.hire > tbody > tr > td > table:nth-child(4) > tbody > tr > th > table > tbody > tr > th {
  background: #392c2f;
}

.hire__type {
  color: #fff;
}

.hire__type-title {
  font-weight: bold;
  color: #fff;
}

table.org ul {
  padding: 16px;
}

.org__img {
  max-width: 269px;
  height: auto !important;
}

.org__subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #404040;

}

.org__title {
  text-transform: uppercase;
}

table.services {
  background: url("https://image.ibb.co/jaP0xn/servicesbg_min.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.services__title {
  padding: 5px;
  background: #fff;
  text-transform: uppercase;
}